.r-details-gradient {
    height: 15rem;
    background: linear-gradient(#ffffff, #eeeeee);
    width: 100%;
}

.r-details-flag-icon {
    margin-top: -64px;
    margin-bottom: 3rem;
    z-index: 1;
    border-radius: 50%;
    border: 2px solid #f3f3f3;
}

.r-details-balance-amount {
    font-size: 5rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.r-details-account-name {
    font-size: 1.4rem;
    color: #777777;
    flex: 1;
}