html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
        "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 10px;
    display: flex;
    height: 100vh;
    width: 100%;
    background: #000000;
}

*{
  box-sizing: border-box;
}

@import 'theme.css';
@import 'app.css';
@import 'round-buttons.css';
@import 'balance.css';
@import 'accounts.css';
@import 'transactions.css';