@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

html,
body {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 10px;
    display: flex;
    height: 100vh;
    width: 100%;
    background: #000000;
}

* {
    box-sizing: border-box;
}

@import 'theme.css';
@import 'app.css';
@import 'round-buttons.css';
@import 'action-button.css';
@import 'balance.css';
@import 'transactions.css';
@import 'page-header.css';

@import 'login.css';
@import 'accounts.css';
@import 'exchange.css';