@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

html,
body {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 10px;
    display: flex;
    height: 100vh;
    width: 100%;
    background: #000000;
}

* {
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 11px;
    height: 11px;
}

::-webkit-scrollbar-thumb {
    background: #cccfdc;
    border-radius: 10rem;
    border: 2px solid #f7f8fa;
}

::-webkit-scrollbar-track {
    background: #f7f8fa;
    border-radius: 0;
}

@import 'theme.css';
@import 'app.css';
@import 'round-buttons.css';
@import 'action-button.css';
@import 'balance.css';
@import 'transactions.css';
@import 'page-header.css';
@import 'currency-input.css';
@import 'rate-box.css';
@import 'swap-rate.css';
@import 'footerbar.css';
@import 'account-selector.css';
@import 'currency-selector.css';
@import 'empty-content.css';

@import 'login.css';
@import 'accounts.css';
@import 'exchange.css';
@import 'add-view.css';
@import 'details-view.css';
@import 'about-view.css';
@import 'rates-view.css';
@import 'forgot-view.css';