.r-rate-box-container{
    font-size: 1.7rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--blue);
    background: #ffffff;
    height: 4.5rem;
    border-radius: 5rem;
    width: 19rem;
    border:2px solid #f3f3f3;
    margin-left: -2rem;
    padding-right: 0.5rem;
}

.r-rate-box-container>svg{
    width: 2.5rem;
    height: 2.5rem;
    margin-right: 1rem;
}