.r-round-button-wrapper {
    display: inline-flex;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    cursor: pointer;
    width: 8rem;
    white-space: nowrap;
}

.r-round-button-icon {
    display: inline-block;
    width: 1.75rem;
    height: 1.75rem;
    padding: 1.25rem;
    margin-bottom: 0.75rem;
    border-radius: 50%;
    color: white;
    background: var(--blue);
    box-sizing: content-box;
}

.r-round-button-text {
    color: var(--blue);
    font-size: 1.3rem;
    font-weight: 600;
}