.r-swap-rate-container{
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--blue);
    background: #ffffff;
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 5rem;
    border:2px solid #f3f3f3;
    cursor: pointer;
}

.r-swap-rate-container>svg{
    width: 1.75rem;
    height: 1.75rem;
}